@using BTravel.DAL.Entities
@{
    ViewData["Title"] = "Home Page";
}
@model List<Contract>;

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Embark on a memorable journey with us</h1>
                <p class="fs-4 text-white mb-4 animated slideInDown">where every detail is tailored to perfection. Enjoy your trip with the assurance that we've taken care of everything for you.</p>
                @* <div class="position-relative w-75 mx-auto animated slideInDown"> *@
                @*     <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Thailand"> *@
                @*     <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button> *@
                @* </div> *@
            </div>
        </div>
    </div>
</div>

<!-- About Start -->
<div class="container-xxl py-5" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/PortalAssets/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="text-primary">BTravelMate</span></h1>
                <p class="mb-4">Your Gateway to Exceptional Travel Experiences!. At BTravelMate, we redefine the art of travel, seamlessly blending business and leisure to curate unforgettable experiences for you. Whether you're jetting off for a business meeting, seeking a cozy accommodation, or planning a dream vacation, BTravelMate is your trusted companion every step of the way.</p>
                <p class="mb-4">Your Journey Starts Here: Embark on a journey with BTravelMate and open the door to a world of possibilities. Whether you're a seasoned business traveler or a leisure seeker, let us be your travel mate, guiding you towards unparalleled experiences. Ready to start your adventure? Explore our services now!</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>closest accommodation </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                    </div>
                </div>
                @* <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> *@
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5" id="service">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5>WorldWide Tours</h5>
                        <p>Discover the world with our curated Worldwide Tours.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                        <h5>Hotel Reservation</h5>
                        <p>Book your perfect stay with our streamlined hotel reservation system</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user text-primary mb-4"></i>
                        <h5>Travel Guides</h5>
                        <p>Navigate your journey seamlessly with our comprehensive travel guides,unlocking the secrets of every destination.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                        <h5>Group Travel Packages</h5>
                        <p>Connect and share experiences with our group travel packages, fostering camaraderie in stunning destinations</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5>24/7 Corporate Travel Support</h5>
                        <p>Ensure round-the-clock support for your business travelers with our 24/7 customer service, addressing any issues or changes promptly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                        <h5>Strategic Travel Partnerships</h5>
                        <p>Forge strategic partnerships with our agency to gain access to exclusive corporate rates, ensuring cost savings and added value for your business.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user text-primary mb-4"></i>
                        <h5>Venues Worldwide</h5>
                        <p>Your ideal location at the most competitive rates, ensuring both savings and proximity for your corporate events</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                        <h5>Event Management</h5>
                        <p>Leave the details to us and make your event memorable with our expert event management services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Destination Start -->
<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Destination</h6>
            <h1 class="mb-5">Popular Destination</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="~/PortalAssets/img/destination-1.jpg" alt="">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">France</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="~/PortalAssets/img/destination-2.jpg" alt="">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Germany</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="~/PortalAssets/img/destination-3.jpg" alt="">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">USA</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" >
                    <img class="img-fluid position-absolute w-100 h-100" src="~/PortalAssets/img/destination-4.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
                    <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">London</div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Destination Start -->
<!-- Package Start -->
<div class="container-xxl py-5" id="package">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Awesome Packages</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/PortalAssets/img/package-1.jpg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Thailand</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">$149.00</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Explore our curated selection of awesome packages designed to elevate your travel experience.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/PortalAssets/img/package-2.jpg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>France</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">$139.00</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>From luxurious getaways to adventurous escapades, our packages are crafted to cater to diverse tastes and preferences.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/PortalAssets/img/package-3.jpg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Malaysia</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">$189.00</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Immerse yourself in unparalleled convenience and unforgettable moments with our thoughtfully tailored and truly awesome travel packages.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Package End -->
<!-- Booking Start -->
@* <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s"> *@
@*     <div class="container"> *@
@*         <div class="booking p-5"> *@
@*             <div class="row g-5 align-items-center"> *@
@*                 <div class="col-md-6 text-white"> *@
@*                     <h6 class="text-white text-uppercase">Booking</h6> *@
@*                     <h1 class="text-white mb-4">Online Booking</h1> *@
@*                     <p class="mb-4">"Feel free to leave your travel requirements by dropping us a message or contact our dedicated team at reservation@btravelmate.com or through a phone call at +44 121 318 8658. We're here to take care of your reservation needs."</p> *@
@*                     <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a> *@
@*                 </div> *@
@*                 <div class="col-md-6"> *@
@*                     <h1 class="text-white mb-4">Book Now</h1> *@
@*                     <form> *@
@*                         <div class="row g-3"> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="form-floating"> *@
@*                                     <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name"> *@
@*                                     <label for="name">Your Name</label> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="form-floating"> *@
@*                                     <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email"> *@
@*                                     <label for="email">Your Email</label> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="form-floating date" id="date3" data-target-input="nearest"> *@
@*                                     <input type="text" class="form-control bg-transparent datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" /> *@
@*                                     <label for="datetime">Date & Time</label> *@
@*                                 </div> *@
@*                                 <div class="form-floating date" id="date3" data-target-input="nearest"> *@
@*                                     <input type="text" class="form-control bg-transparent datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" /> *@
@*                                     <label for="datetime">Date & Time</label> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="form-floating"> *@
@*                                     <input type="text" class="form-control bg-transparent" id="Destination" placeholder="Your Destination"> *@
@*                                     <label for="name">Destination</label> *@
@*                                     <label for="select1">Destination</label> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <div class="col-12"> *@
@*                                 <div class="form-floating"> *@
@*                                     <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height: 100px"></textarea> *@
@*                                     <label for="message">Special Request</label> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <div class="col-12"> *@
@*                                 <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button> *@
@*                             </div> *@
@*                         </div> *@
@*                     </form> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
<!-- Booking Start -->
<!-- Process Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
            <h1 class="mb-5">3 Easy Steps</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-globe fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Choose A Destination</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Via email or phone to discuss your travel requirements.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-dollar-sign fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Secure Your Reservation</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Secure your reservation by filling out our online booking form, complete with your unique pin code for added security</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-plane fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Flexible Modifications</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">We understand plans may change, so we offer flexibility within specified parameters for modifications, aiming to accommodate your evolving travel needs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Process Start -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" id="Testimonial">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Clients Say!!!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item bg-white text-center border p-4">
                <h5 class="mb-0">John Doe</h5>
                <p>New York, USA</p>
                <p class="mb-0">Exceptional service from start to finish!</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
                <h5 class="mb-0">Amelie Antoine</h5>
                <p>Paris, France</p>
                <p class="mt-2 mb-0">The attention to detail in crafting our travel itinerary was remarkable, and the team's responsiveness exceeded our expectations.</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
                <h5 class="mb-0">Alexander Adrian</h5>
                <p>Cologne, Germany</p>
                <p class="mt-2 mb-0">The seamless booking process and personalized assistance made our journey stress-free.</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
                <h5 class="mb-0">Noah Adams</h5>
                <p>London,England</p>
                <p class="mt-2 mb-0">Undoubtedly, a top-tier travel agency that prioritizes customer satisfaction and delivers excellence at every step.</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Testimonial End -->