
/*     Table    */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > td, .table > tbody > tr > th {
    padding: 12px 24px !important;
}

.table > tfoot > tr > td, .table > tfoot > tr > th {
    padding: 12px 24px !important;
}

.table thead th {
    font-size: .95rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px !important;
    border-bottom-width: 1px;
    font-weight: 600;
}

.table td, .table th {
    font-size: 1rem;
    border-top-width: 0px;
    border-bottom: 1px solid;
    border-color: #ebedf2 !important;
    vertical-align: middle !important;
}

.table .thead-light th {
    background-color: #f6f9fc;
    color: #8898aa;
    border-color: #ebecec !important;
}

.table .thead-dark th {
    background-color: #1a2035;
    color: #fff;
}

/* table full-width */
.table-full-width {
    margin-left: -15px;
    margin-right: -15px;
}

/* table bordered states */
.table-bordered-bd-black td, .table-bordered-bd-black th {
    border: 1px solid #1a2035 !important;
}

.table-bordered-bd-primary td, .table-bordered-bd-primary th {
    border: 1px solid #1572E8 !important;
}

.table-bordered-bd-secondary td, .table-bordered-bd-secondary th {
    border: 1px solid #6861CE !important;
}

.table-bordered-bd-info td, .table-bordered-bd-info th {
    border: 1px solid #48ABF7 !important;
}

.table-bordered-bd-success td, .table-bordered-bd-success th {
    border: 1px solid #31CE36 !important;
}

.table-bordered-bd-warning td, .table-bordered-bd-warning th {
    border: 1px solid #FFAD46 !important;
}

.table-bordered-bd-danger td, .table-bordered-bd-danger th {
    border: 1px solid #F25961 !important;
}

.table-striped td, .table-striped th {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

/* table head background states*/
.table-head-bg-black thead {
    border: 1px solid #1a2035 !important;
}

.table-head-bg-primary thead {
    border: 1px solid #1572E8 !important;
}

.table-head-bg-secondary thead {
    border: 1px solid #6861CE !important;
}

.table-head-bg-info thead {
    border: 1px solid #48ABF7 !important;
}

.table-head-bg-success thead {
    border: 1px solid #31CE36 !important;
}

.table-head-bg-warning thead {
    border: 1px solid #FFAD46 !important;
}

.table-head-bg-danger thead {
    border: 1px solid #F25961 !important;
}

.table-head-bg-black thead th, .table-striped-bg-black tbody tr:nth-of-type(odd) {
    background: #1a2035 !important;
    color: #ffffff !important;
    border: 0px !important;
}

.table-head-bg-primary thead th, .table-striped-bg-primary tbody tr:nth-of-type(odd) {
    background: #1572E8 !important;
    color: #ffffff !important;
    border: 0px !important;
}

.table-head-bg-secondary thead th, .table-striped-bg-secondary tbody tr:nth-of-type(odd) {
    background: #6861CE !important;
    color: #ffffff !important;
    border: 0px !important;
}

.table-head-bg-info thead th, .table-striped-bg-info tbody tr:nth-of-type(odd) {
    background: #48ABF7 !important;
    color: #ffffff !important;
    border: 0px !important;
}

.table-head-bg-success thead th, .table-striped-bg-success tbody tr:nth-of-type(odd) {
    background: #31CE36 !important;
    color: #ffffff !important;
    border: 0px !important;
}

.table-head-bg-warning thead th, .table-striped-bg-warning tbody tr:nth-of-type(odd) {
    background: #FFAD46 !important;
    color: #ffffff !important;
    border: 0px !important;
}

.table-head-bg-danger thead th, .table-striped-bg-danger tbody tr:nth-of-type(odd) {
    background: #F25961 !important;
    color: #ffffff !important;
    border: 0px !important;
}

/* table-responsive */
.table-responsive {
    width: 100% !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
